.maxwidth
  box-sizing border-box
  position relative
  overflow hidden
  margin 0 auto
  width 100%
  padding 0 3%
  max-width $maxWidth

borderbox()
  box-sizing border-box


fadeOnHover($finalOpacity)
  opacity 1
  transition opacity 0.2s ease-in-out
  &:hover
    opacity $finalOpacity


placeholderColor($color)
  &::-webkit-input-placeholder
    color $color

  &:-ms-input-placeholder
    color $color

  &::-moz-placeholder
    color $color
    opacity 1

  &:-moz-placeholder
    color $color
    opacity 1
