@import "_variables"

header
  h1
    padding 1rem 2rem
    background $red
    a
      color white
      text-decoration none
  nav
    margin-top 2rem
    ul
      list-style none
      li a
        display inline-block
        margin-right 1rem
      .account-actions
        margin-top 2rem
