@import "_reset"
@import "_mixins"
@import "_variables"

@import url('https://fonts.googleapis.com/css?family=Open+Sans')

//Global
html
  font-size 62.5%
body
  box-sizing border-box
  padding 2rem
  font normal 1.6rem 'Open Sans', Helvetica, Arial, sans-serif
  a
    color $red

  input, button
    display inline-block
    vertical-align middle
    border 1px solid #eee
    padding 1rem
    margin 1rem 1rem 0 0
